---
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'
import SlipListItem from '../components/SlipListItem.astro'
import '../styles/global.css'

const pageTitle = "Salvage Slips"

import {
	getSiteNames,
} from '../components/salvageSlips'

const siteNames = getSiteNames();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<h1>{pageTitle}</h1>

    {siteNames.map(
			(siteName) => 
			<SlipListItem siteName={siteName} />
			)
		}
    

		<br />
		<br />
		<Footer />
		<br />
		<br />
		<br />
	</body>
</html>
